@font-face {
  font-family: provicali;
  src: url(./Provicali.woff);
}
body {
  background-color: #000000;
  font-size: 100%;
}

h1,
h3 {
  color: white;
  text-decoration: none;
  text-align: center;
  font-family: provicali;
  margin-bottom: 1%;
  /* line-height: 0px; */
  
}
.pupil {
  position: relative;
}
h3 {
  font-size: 1.3vw;
  font-weight: 300;
  letter-spacing: 3px;
}
h1 {
  font-weight: 500;
  font-size: 3vw;
  margin-bottom: 3%;
  /* letter-spacing: 10px; */
}




.wrapper {
  background: transparent;
  position: absolute;
  width: 100vw;
  /* z-index: 1; */
  bottom: 10%;
  /* height: 100vh; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.svg {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* margin-top: -18vh; */
  
}

#eyeball{
  display: block;
  width: 50px!Important;
}

svg {
  width: 25vw;
}

@media only screen and (max-width: 1280px) {
  h3 {
    font-size: 2vw;
    font-weight: 300;
  }
  h1 {
    line-height: 30px;
  }
  .contact-info a {
    font-size: 1.8vw;
  }
  .contact-info h2 {
    font-size: 2vw;
  }
}
@media only screen and (max-width: 1024px) {
  h3 {
    font-size: 1.9vw;
    font-weight: 300;
  }
  h1 {
    font-size: 4vw;

    letter-spacing: 5px;
  }
  svg {
    width: 50vw;
  }
}

@media only screen and (max-width: 768px) {
  h1{
    letter-spacing: 3px;
  }
  h3 {
    font-size: 2.4vw;
    font-weight: 300;
  }
  svg {
    width: 60vw;
  }
}
@media only screen and (max-width: 480px) {
  h3 {
    font-size: 3.3vw;
    font-weight: 300;
  }
  h1 {
    margin: 0 10px;
    margin-bottom: 30px;
    letter-spacing: 3px;
  }
  svg {
    width: 75vw;
  }
}
@media only screen and (max-width: 320px) {
  h3 {
    font-size: 3.5vw;
    font-weight: 300;
  }
  h1 {
    font-size: 6vw;

    letter-spacing: 3px;
  }
 
}


#logo {
  height: 0;
  transition: height 0.5s ease-in-out;
}

#logo.blink {
  height: 100px;
}

.overlay {
  transition: height 0.5s ease-in-out;
  animation: blink 0.7s ease-in-out 1;
}

@keyframes blink {
  0% {
    transform: translate(0, 300px);
  }
  100% {
    transform: translate(0, 0);
  }
}


#cover{
  transform: translate(0, 300px);
  fill: #000;
}
